<li>
    {{name}}

    <button class="change-bite" data-id="{{id}}" data-newBite="{{Bite}}">
        {{#if bite}}Burger Time!{{else}}Burger Time!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>